/*Iphone4*/
 @media screen and (device-aspect-ratio: 2/3) {

     /* Styles */

     #subtitle{
       margin-top:15%;

     }

     #subtitledef{
       margin-top:13%;

     }

     #subtitlethes{
       margin-top:15%;
     }

     div#container{
       margin-top:38%;
     }

     #headcontainer{
       height:90px;
      }
     div nav h1 {
       font-size: 39px;
       margin-top:3%;
     }

     h1#titledef{
       padding-top:4%;
     }

     #divdefinput{
       margin-top: 110px !important;
     }

     #divthesinput{
       margin-top:110px !important;
     }
 }

/*Iphone 5*/
 @media screen and (device-aspect-ratio: 40/71){

   #subtitle{
     margin-top:36px;

   }

   #subtitledef, #subtitlethes{
     margin-top:36px;

   }

   #headcontainer{
     height:90px;
   }

   div#container{
     margin-top:38% !important;
   }
   div nav h1 {
     font-size: 35px;
     margin-top:8%;
   }

   #divdefinput{
     margin-top: 110px !important;
   }

   #divthesinput{
     margin-top:110px !important;
   }

   h1#titledef{
     font-size:40px;
     margin-top:6%;
   }

 }

/*Iphone 6*/
 @media only screen
 and (min-width : 375px)
 and (max-width : 667px){
   div nav h1 {
     font-size: 47px;
     margin-top:6%;
   }

   div#container{
     margin-top:38%;
   }

   #subtitle{
     margin-top:51px;

   }

   #subtitledef, #subtitlethes{
     margin-top:51px;

   }

   #divdefinput{
     margin-top:133px !important;
   }

   #divthesinput{
     margin-top:133px !important;
   }

   #navtitlewotd{
     font-size:20px;
     margin-top:30%;

   }

 }


 @media screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3){
   div nav h1 {
     font-size: 47px;
     margin-top:6%;
   }

   div#container{
     margin-top:38%;
   }

   #subtitle{
     margin-top:62px;

   }
   #subtitledef, #subtitlethes{
     margin-top:62px;

   }

   #divdefinput{
     margin-top:145px !important;
   }

   #divthesinput{
     margin-top:145px !important;
   }

   #navtitlewotd{
     font-size:20px;
     margin-top:30%;

   }

 }

 /* iPads (portrait and landscape) ----------- */
 @media only screen
 and (min-device-width : 767px)
 and (max-device-width : 1199px) {
   /* Styles */
   div#container{
     margin-top:15%;
   }
   div nav h1 {
     font-size: 50px;
   }

   #divdefinput{
     margin-top:14% !important;
   }

   #subtitle{
     margin-top:15%;

   }


 }

 /* iPads (landscape) ----------- */
 @media only screen
 and (min-device-width : 767px)
 and (max-device-width : 1199px)
 and (orientation : landscape) {
   /* Styles */
   div#container{
     margin-top:18%;
   }
   div nav h1 {
     font-size: 50px;
   }
 }

 /* iPads (portrait) ----------- */
 @media only screen
 and (min-device-width : 767px)
 and (max-device-width : 1199px)
 and (orientation : portrait) {
   /* Styles */
   div#container{
     margin-top:20%;
   }
   div nav h1{
     font-size:50px;
   }
 }

 /* Desktops and laptops ----------- */
 @media only screen
 and (min-width : 1200px) {
   /* Styles */
   div#container{
     margin-top:15%;
   }
   div nav h1 {
     font-size: 50px;
     margin-top:0%;
   }
 }

 /* Large screens ----------- */
 @media only screen
 and (min-width : 1824px) {
   /* Styles */
   div#container{
     margin-top:15%;
   }
   div nav h1 {
     font-size: 80px;
     margin-top:3%;
   }
 }

/*END OF MEDIA QUERIES */





/*FONT IMPORTS*/
@font-face{
  font-family: Raleway;
  src: url(../fonts/Raleway-Regular.ttf);
}

@font-face{
  font-family: Raleway-m;
  src: url(../fonts/Raleway-Medium.ttf);
}

@font-face{
  font-family: Lato;
  src: url(../fonts/Lato-Regular.ttf);
}






/*START OF PAGE CSS*/
 body {

   -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
   -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
   -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
   background-color:#f7f7f7;
   font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
   font-size:12px;
   height:100%;
   margin:0px;
   padding:0px;
   width:100%;
 }

p{
  width: 100%;
  text-align:center;
  margin:auto;
}

input{
  border-radius:0px !important;

}
 /* Landscape layout (with min-width) */
 @media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
   .app {
     background-position:left center;
     padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
     margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
     /* offset horizontal: half of image width and text area width */
   }
 }

 h1 {
   font-size:24px;
   font-weight:normal;
   margin:0px;
   overflow:visible;
   padding:0px;
   text-align:center;
 }

 .event {
   border-radius:0px;
   -webkit-border-radius:0px;
   color:#eeeeee;
   font-size:12px;
   margin:0px 30px;
   padding:2px 0px;
 }

 .event.listening {
   background-color:#333333;
   display:block;
 }

 .event.received {
   background-color:#4B946A;
   display:none;
 }

 @keyframes fade {
   from { opacity: 1.0; }
   50% { opacity: 0.4; }
   to { opacity: 1.0; }
 }

 @-webkit-keyframes fade {
   from { opacity: 1.0; }
   50% { opacity: 0.4; }
   to { opacity: 1.0; }
 }

 .blink {
   animation:fade 3000ms infinite;
   -webkit-animation:fade 3000ms infinite;
 }





/*START OF CUSTOM CSS*/
 #title{
   font-family:Raleway;
   color: #ffffff;
   padding-top:2%;
   margin-bottom:-5%;
   text-align: center;
   text-transform: lowercase;
   /*text-shadow: -2px 2px 1px #656565;*/
}


/*TOTAL PAGE CSS*/
#page-container{
  background-image: url("../img/bluegeo.png");
  background-color:#f7f7f7;

}



/*NAVBAR BACKGROUND*/
 #headcontainer{
   background-color:#ff5454;
   margin:auto;
   border:none;
 }



/*CARD ATTRIBUTES*/
 #container{
   background-color:#ffffff;
   box-shadow:2px 2px 1px #cecece;
   width:85%;
   text-align:center;
   margin:auto;
   /*border: 1px solid #e7e7e7;*/
   margin-top:35%;
 }



/*TITLE SPACE IN CARD*/
 #innertitle{
   border-bottom: 1px solid #e7e7e7;
   background-color: #aeaeae;
 }



.navbar{
  height:17%;
}


.center{
  margin:auto;
}

.left{
  margin-left:0px;
}


/*TITLE TEXT IN CARD*/
#WOTD{
  font-family:Raleway;
  font-size:20px;
  color:#ffffff;
  padding-top:5%;
  text-transform:lowercase;
}




#title, #titledef, #titlethes, #container, #maintitle, #maintitledef, #wotdBody, #thesBody, #dictBody, #divdefinput, #divthesinput, #s1, #s2, #s3, #s4, #s5, #s6, #s7{
  opacity:0;
}

/*RETURNED VALUES FROM API*/
#note{
/*padding-top: 7%;*/
margin-left: 7%;
margin-right: 7%;
padding-bottom: 4%;
color:#656565;
font-style:italic;
}

#defpos{
 color: #ff5454;
 font-style: italic;
 font-weight: 600;
 text-align:left;
 padding-left:8%;
}

#defpos2{
  color: #ff5454;
  font-style: italic;
  text-align:left;
  font-weight:600;
  padding-left:8%;
}

#def{
  text-align:justify;
  margin-left: 7%;
  margin-right: 7%;
  color:#656565;
  padding-bottom:4%;
  }

#def2{
  text-align:justify;
  margin-left: 7%;
  margin-right: 7%;
  color:#656565;
  padding-bottom:4%;
}

#ex{
  margin-left: 7%;
  margin-right: 7%;
  padding-top:1%;
  padding-bottom:4%;
  text-align:justify;
  font-style: italic;
}

#tag1{
  text-transform:uppercase;
  font-size:12px;
  padding-top:5%;
  color:#989898;}

#tag2{
  text-transform:uppercase;
  font-size:12px;
  padding-top:5%;
  color:#989898;
}
 #origin{
   text-transform:uppercase;
   font-size:12px;
   padding-top:4%;
   color:#989898;
   padding-bottom:1%;
 }

 #example{
   text-transform:uppercase;
   font-size:12px;
   padding-top:5%;
   color:#989898;
 }

#wotdPronounce{
  text-transform:uppercase;
  font-size:12px;
  padding-top:5%;
  color:#989898;
}

html {
  background-image: url("../img/bluegeo.png");
  background-color:#f7f7f7;

}

.bottom{
  height:40px !important;
  /*background-color:#f7f7f7;
  background-image: url("../img/bluegeo.png");*/

}


/*CSS FOR DEFINITION SEARCH*/

#wordreturn{
  font-family:Raleway;
  font-size:20px;
  color:#ffffff;
  padding-top:3%;
  text-transform:lowercase;
}

#prons{
  color: #ff5454;
  font-style: italic;
  text-align:left;
  font-weight:600;
  padding-left:8%;
}

#partspeech{
  color: #ff5454;
  font-style: italic;
  text-align:left;
  font-weight:600;
  padding-left:8%;
}

#defreturn{
  text-align:justify;
  margin-left: 7%;
  margin-right: 7%;
  color:#656565;
  padding-bottom:4%;
}

#titledef{
  font-family:Raleway;
  color: #ffffff;
  padding-top:2%;
  margin-bottom:-5%;
  text-align: center;
  text-transform: lowercase;
  /*text-shadow: -2px 2px 1px #656565;*/

}


#titlethes{
  font-family:Raleway;
  color: #ffffff;
  padding-top:2%;
  margin-bottom:-5%;
  text-align: center;
  text-transform: lowercase;
  /*text-shadow: -2px 2px 1px #656565;*/

}
#maintitledef{

}

.navbardef{

  height:20%;
}

#definput{
margin:auto;
text-align:center;
width:80%;
background-color:#ffffff;
color:#989898;
border:none;
height:50px;
font-size:20px;
font-family:Raleway;
bottom:0;
margin-top:0%;
margin-left:0;
border-radius:none !important;
}

#tagdef1{
text-transform:uppercase;
font-size:12px;
padding-top:5%;
color:#989898;

}

#tagdef2{
  text-transform:uppercase;
  font-size:12px;
  padding-top:5%;
  color:#989898;

}

#partspeech2{
  color: #ff5454;
  font-style: italic;
  text-align:left;
  font-weight:600;
  padding-left:8%;
}

#defreturn2{
  text-align:justify;
  margin-left: 7%;
  margin-right: 7%;
  color:#656565;
  padding-bottom:4%;
}


#tagdef3{
  text-transform:uppercase;
  font-size:12px;
  padding-top:5%;
  color:#989898;

}

#partspeech3{
  color: #ff5454;
  font-style: italic;
  text-align:left;
  font-weight:600;
  padding-left:8%;
}

#defreturn3{
  text-align:justify;
  margin-left: 7%;
  margin-right: 7%;
  color:#656565;
  padding-bottom:4%;
}

#containerdef{
  background-color:#ffffff;
  box-shadow:2px 2px 1px #cecece;
  width:85%;
  text-align:center;
  margin:auto;
  margin-top:3%;
  visibility: hidden;
}

#divdefinput{
  margin-top:28%;
  text-align:center;
  width:100%;
}

#btndefsearch{
  text-align:center;
  margin-bottom:10%;
}

/*#deftotaldev{
  background-image: url("../img/bluegeo.png");
  background-color:#f7f7f7;

}*/

#buttonreq{
width:20%;
background-color:#ff7777;
border:none;
height:50px;
width:auto:
position:relative;
font-family: Raleway-m;
color: #ffffff;
float:right;}

#mag{
  font-size:20px;
  padding-top:6px;
}

#back{
  bottom:0;
  right:50%;
}

#dictPronounce{
  text-transform:uppercase;
  font-size:12px;
  padding-top:5%;
  color:#989898;
}



    /*THESAURUS CSS*/

    #divthesinput{
      margin-top:28%;
      text-align:center;
      width:100%;
    }


    #thesinput{
      margin:auto;
      text-align:center;
      width:80%;
      background-color:#ffffff;
      color:#989898;
      border:none;
      height:50px;
      font-size:20px;
      font-family:Raleway;
      bottom:0;
      margin-top:0%;
      margin-left:0;
      border-radius:none !important;
    }


    #thesbuttonreq{
      width:20%;
      background-color:#ff7777;
      border:none;
      height:50px;
      width:auto:
      position:relative;
      font-family: Raleway-m;
      color: #ffffff;
      float:right;
    }


    #thestotaldev{
      /*background-image: url("../img/bluegeo.png");*/
      /*background-color:#f7f7f7;*/

    }


    #containerthes{
      background-color:#ffffff;
      box-shadow:2px 2px 1px #cecece;
      width:85%;
      text-align:center;
      margin:auto;
      margin-top:3%;
      visibility: hidden;
    }


    #thesPronounce{
      text-transform:uppercase;
      font-size:12px;
      padding-top:5%;
      color:#989898;
    }

    #tagthes1{
      text-transform:uppercase;
      font-size:12px;
      padding-bottom:4%;
      color:#989898;
      text-align:center;
    }


    #thespartspeech{
      color: #ff5454;
      font-style: italic;
      text-align:left;
      font-weight:600;
      padding-left:8%;
    }


    #thesreturn{
      text-align:justify;
      margin-left: 7%;
      margin-right: 7%;
      color:#656565;
      padding-bottom:4%;
    }


    #tagthes2{
      text-transform:uppercase;
      font-size:12px;
      padding-bottom:4%;
      color:#989898;
      text-align:center;
      padding-top:4%;

    }



    #thespartspeech2{
      color: #ff5454;
      font-style: italic;
      text-align:left;
      font-weight:600;
      padding-left:8%;
    }


    #thesreturn2{
      text-align:justify;
      margin-left: 7%;
      margin-right: 7%;
      color:#656565;
      padding-top:4%;
    }


    #tagthes3{
      text-transform:uppercase;
      font-size:12px;
      padding-bottom:4%;
      color:#989898;
      text-align:center;
      padding-top:4%;

    }


    #thespartspeech3{
      color: #ff5454;
      font-style: italic;
      text-align:left;
      font-weight:600;
      padding-left:8%;
    }


    #thesreturn3{
      text-align:justify;
      margin-left: 7%;
      margin-right: 7%;
      color:#656565;
      padding-bottom:4%;
    }


    #synSec{
      text-align: center;
      margin-left:10%;
      margin-right:10%;
      padding-bottom:5%;
    }

    #antSec{
      text-align: center;
      margin-left:10%;
      margin-right:10%;
      padding-bottom:5%;
    }

    #rhmSec{
      text-align: center;
      margin-left:10%;
      margin-right:10%;
      padding-bottom:8%;
    }

/*NAVS*/
#navtitlewotd{
  text-align:center;
  background-color:#82dd9f;
  color:#ffffff;
  font-family:Raleway;
}

.wotdBody, #wotdBodyID, .dictBody, #dictBodyID{
  height:100%;
}

#subtitle, #subtitledef, #subtitlethes{
  text-align:center;
  background-color:#eb2d2d;
  opacity:.7;
  color:white;
  text-transform:uppercase;
  font-family:Raleway;
}
