/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
 /* {
 -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */

 /* Smartphones (portrait and landscape) ----------- */



/*Iphone4*/
 @media screen and (device-aspect-ratio: 2/3) {

     /* Styles */


     div#container{
       margin-top:35%;
     }

     #headcontainer{
       height:90px;
      }
     div nav h1 {
       font-size: 39px;
       margin-top:3%;
     }

     h1#titledef{
       padding-top:4%;
     }
 }

/*Iphone 5*/
 @media screen and (device-aspect-ratio: 40/71){


   div#container{
     margin-top:38% !important;
   }
   div nav h1 {
     font-size: 35px;
     margin-top:8%;
   }

   #divdefinput{
     margin-top: 28% !important;
   }

   h1#titledef{
     font-size:40px;
     margin-top:6%;
   }

 }

/*Iphone 6*/
 @media only screen
 and (min-width : 375px)
 and (max-width : 667px){
   div nav h1 {
     font-size: 47px;
     margin-top:6%;
   }

   #divdefinput{
     margin-top:30% !important;
   }

 }

 /* iPads (portrait and landscape) ----------- */
 @media only screen
 and (min-device-width : 767px)
 and (max-device-width : 1199px) {
   /* Styles */
   div#container{
     margin-top:15%;
   }
   div nav h1 {
     font-size: 50px;
   }

   #divdefinput{
     margin-top:14% !important;
   }


 }

 /* iPads (landscape) ----------- */
 @media only screen
 and (min-device-width : 767px)
 and (max-device-width : 1199px)
 and (orientation : landscape) {
   /* Styles */
   div#container{
     margin-top:18%;
   }
   div nav h1 {
     font-size: 50px;
   }
 }

 /* iPads (portrait) ----------- */
 @media only screen
 and (min-device-width : 767px)
 and (max-device-width : 1199px)
 and (orientation : portrait) {
   /* Styles */
   div#container{
     margin-top:20%;
   }
   div nav h1{
     font-size:50px;
   }
 }

 /* Desktops and laptops ----------- */
 @media only screen
 and (min-width : 1200px) {
   /* Styles */
   div#container{
     margin-top:15%;
   }
   div nav h1 {
     font-size: 50px;
     margin-top:0%;
   }
 }

 /* Large screens ----------- */
 @media only screen
 and (min-width : 1824px) {
   /* Styles */
   div#container{
     margin-top:15%;
   }
   div nav h1 {
     font-size: 80px;
     margin-top:3%;
   }
 }

/*END OF MEDIA QUERIES */





/*FONT IMPORTS*/
@font-face{
  font-family: Raleway;
  src: url(../fonts/Raleway-Regular.ttf);
}

@font-face{
  font-family: Raleway-m;
  src: url(../fonts/Raleway-Medium.ttf);
}

@font-face{
  font-family: Lato;
  src: url(../fonts/Lato-Regular.ttf);
}






/*START OF PAGE CSS*/
 body {
   -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
   -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
   -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
   background-color:#f0f0f0;
   font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
   font-size:12px;
   height:100%;
   margin:0px;
   padding:0px;
   width:100%;
 }

p{
  width: 100%;
  text-align:center;
  margin:auto;
}
 /* Landscape layout (with min-width) */
 @media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
   .app {
     background-position:left center;
     padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
     margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
     /* offset horizontal: half of image width and text area width */
   }
 }

 h1 {
   font-size:24px;
   font-weight:normal;
   margin:0px;
   overflow:visible;
   padding:0px;
   text-align:center;
 }

 .event {
   border-radius:0px;
   -webkit-border-radius:0px;
   color:#eeeeee;
   font-size:12px;
   margin:0px 30px;
   padding:2px 0px;
 }

 .event.listening {
   background-color:#333333;
   display:block;
 }

 .event.received {
   background-color:#4B946A;
   display:none;
 }

 @keyframes fade {
   from { opacity: 1.0; }
   50% { opacity: 0.4; }
   to { opacity: 1.0; }
 }

 @-webkit-keyframes fade {
   from { opacity: 1.0; }
   50% { opacity: 0.4; }
   to { opacity: 1.0; }
 }

 .blink {
   animation:fade 3000ms infinite;
   -webkit-animation:fade 3000ms infinite;
 }





/*START OF CUSTOM CSS*/
 #title{
   font-family:Raleway;
   color: #ffffff;
   padding-top:2%;
   margin-bottom:-5%;
   text-align: center;
   text-transform: lowercase;
   /*text-shadow: -2px 2px 1px #656565;*/
}


/*TOTAL PAGE CSS*/
#page-container{
  background-color:#f0f0f0;
}



/*NAVBAR BACKGROUND*/
 #headcontainer{
   background-color:#ff5454;
   margin:auto;
   border:none;
 }



/*CARD ATTRIBUTES*/
 #container{
   background-color:#ffffff;
   box-shadow:2px 2px 1px #cecece;
   width:85%;
   text-align:center;
   margin:auto;
   /*border: 1px solid #e7e7e7;*/
   margin-top:35%;
 }



/*TITLE SPACE IN CARD*/
 #innertitle{
   border-bottom: 1px solid #e7e7e7;
   background-color: #aeaeae;
 }



.navbar{
  height:17%;
}


.center{
  margin:auto;
}

.left{
  margin-left:0px;
}


/*TITLE TEXT IN CARD*/
#WOTD{
  font-family:Raleway;
  font-size:20px;
  color:#ffffff;
  padding-top:3%;
  text-transform:lowercase;
}




#title, #s1, #s2, #s3, #s4, #s5, #s6, #s7{
  opacity:0;
}

/*RETURNED VALUES FROM API*/
#note{
/*padding-top: 7%;*/
margin-left: 7%;
margin-right: 7%;
padding-bottom: 4%;
color:#656565;
border-bottom: 1px solid #ffcaca;
font-style:italic;
}

#defpos{
 color: #ff5454;
 font-style: italic;
 font-weight: 600;
 text-align:left;
 padding-left:8%;
}

#defpos2{
  color: #ff5454;
  font-style: italic;
  text-align:left;
  font-weight:600;
  padding-left:8%;
}

#def{
  text-align:justify;
  margin-left: 7%;
  margin-right: 7%;
  border-bottom: 1px dotted #e7e7e7;
  color:#656565;
  padding-bottom:4%;
  }

#def2{
  text-align:justify;
  margin-left: 7%;
  margin-right: 7%;
  border-bottom: 1px solid #ffcaca;
  color:#656565;
  padding-bottom:4%;
}

#ex{
  margin-left: 7%;
  margin-right: 7%;
  padding-top:1%;
  padding-bottom:4%;
  text-align:justify;
  font-style: italic;
}

#tag1{
  text-transform:uppercase;
  font-size:12px;
  padding-top:5%;
  color:#989898;}

#tag2{
  text-transform:uppercase;
  font-size:12px;
  padding-top:5%;
  color:#989898;
}
 #origin{
   text-transform:uppercase;
   font-size:12px;
   padding-top:4%;
   color:#989898;
   padding-bottom:1%;
 }

 #example{
   text-transform:uppercase;
   font-size:12px;
   padding-top:5%;
   color:#989898;
 }

#wotdPronounce{
  text-transform:uppercase;
  font-size:12px;
  padding-top:5%;
  color:#989898;
}

html {
  background-color:#f0f0f0;
}

.bottom{
  height:40px !important;
  background-color:#f0f0f0;
}


/*CSS FOR DEFINITION SEARCH*/

#wordreturn{
  font-family:Raleway;
  font-size:20px;
  color:#ffffff;
  padding-top:3%;
  text-transform:lowercase;
}

#prons{
  color: #ff5454;
  font-style: italic;
  text-align:left;
  font-weight:600;
  padding-left:8%;
}

#partspeech{
  color: #ff5454;
  font-style: italic;
  text-align:left;
  font-weight:600;
  padding-left:8%;
}

#defreturn{
  text-align:justify;
  margin-left: 7%;
  margin-right: 7%;
  color:#656565;
  padding-bottom:4%;
}

#titledef{
  font-family:Raleway;
  color: #ffffff;
  padding-top:2%;
  margin-bottom:-5%;
  text-align: center;
  text-transform: lowercase;
  /*text-shadow: -2px 2px 1px #656565;*/

}

#maintitledef{

}

.navbardef{

  height:20%;
}

#definput{
margin:auto;
text-align:center;
width:100%;
background-color:#44a8a8;
color:white;
border:none;
height:50px;
font-size:20px;
font-family:Raleway;
bottom:0;
margin-top:0%;
}

#tagdef1{
text-transform:uppercase;
font-size:12px;
padding-top:5%;
color:#989898;

}

#tagdef2{
  text-transform:uppercase;
  font-size:12px;
  padding-top:5%;
  color:#989898;

}

#partspeech2{
  color: #ff5454;
  font-style: italic;
  text-align:left;
  font-weight:600;
  padding-left:8%;
}

#defreturn2{
  text-align:justify;
  margin-left: 7%;
  margin-right: 7%;
  color:#656565;
  padding-bottom:4%;
}


#tagdef3{
  text-transform:uppercase;
  font-size:12px;
  padding-top:5%;
  color:#989898;

}

#partspeech3{
  color: #ff5454;
  font-style: italic;
  text-align:left;
  font-weight:600;
  padding-left:8%;
}

#defreturn3{
  text-align:justify;
  margin-left: 7%;
  margin-right: 7%;
  color:#656565;
  padding-bottom:4%;
}

#containerdef{
  background-color:#ffffff;
  box-shadow:2px 2px 1px #cecece;
  width:85%;
  text-align:center;
  margin:auto;
  margin-top:3%;
  visibility: hidden;
}

#divdefinput{
  margin-top:28%;
  text-align:center;
}

#btndefsearch{
  text-align:center;
  margin-bottom:10%;
}

#deftotaldev{
  background-color:#f0f0f0;
}

#buttonreq{
width:100%;
background-color:#95eb95;
border:none;
height:40px;
width:auto:
position:relative;
font-family: Raleway-m;
color: #ffffff

}

#mag{
  font-size:20px;
}

#back{
  bottom:0;
  right:50%;
}

#dictPronounce{
  text-transform:uppercase;
  font-size:12px;
  padding-top:5%;
  color:#989898;
}
